body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
	margin: 50px auto;
	text-align: center;
	max-width: 1200px;
	overflow: hidden;
}

h1 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 40px;
	margin: 0;
}

h2 {
	text-transform: uppercase;
	font-weight: 800;
}

/* HEADER */

nav {
	margin: 0 auto;
	overflow: hidden;	
}

nav .container {
	margin: 20px auto;
}

header {
	background-color: #313332;
}

header > nav img {
	padding: 0px 0;
}

header > nav ul {
	padding: 0;
	list-style-type: none;
	text-align: center;
	margin: 0;
}

header > nav ul > li > a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: 0.3s;
}

header > nav ul > li > a:hover {
	color: #5e605f;
}

.highlight {
	color: #0DBEF0;
	font-weight: 900;
}

/* HERO */

.hero {
	background-image: url("https://static.pexels.com/photos/35208/office-home-glasses-workspace-large.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	text-transform: uppercase;
	color: white;
	position: relative;
}

.slogan {
	background-color: rgba(49, 51, 50, 0.7);
	float: right;
	max-width: 800px;
	top: 30%;
	right: 0%;
	position: absolute;
}

.slogan h1 {
	font-weight: 300;
	padding: 20px 50px 0 20px;
	margin: 0;
}

.slogan h2 {
	padding: 0 50px 20px 20px;
	margin: 0;
}

/* FEATURES */

.features button {
	width: 80px;
	height: 70px;
	border-radius: 15%;
	line-height: 65px;
	font-size: 55px;
	background-color: #313332;
	color: #fff;
	border: 0;
	cursor: pointer;
	transition: 1s;
}

.features button:hover {
	background-color: #00C7E8;
}

.features button:hover + h2 {
	color: #00C7E8;
}

.features h2 {
	transition: 1.2s;
}

/* GALLERY */



.layer {
	background: rgba(0,0,0,0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.4s;
}

.layer i {
	position: relative;
	top: 50%;
	display: inline-block;
	border-radius: 3px;
	background-color: #fff;
	padding: 5px;
	border: 1px solid gray;
}

.gallery>.container {
	max-width: none;
}

/* TEAM */

.team .layer {
	border-radius: 50%;
}

.team .layer p {
	color: white;
	position: relative;
	top: 40%;
	font-size: calc(10px + 2vw);
}

.member {
	border-radius: 50%;
	overflow: hidden;
	width: 18vw;
	max-width: 270px;
	height: 18vw;
	max-height: 270px;
	margin: auto;
	position: relative;
}

.member img {
	width: 100%;
}

/* VISUALS */

.visuals {
	overflow: hidden;
}

.visuals img {
	width: 33vw;
	max-width: 400px;
}

.visuals h2, .visuals p {
	text-align: left;
}

.visuals p span {
	font-style: italic;
}

/* NUMBERS */
.numbers .row * {
	margin: 0;
}

.numbers h2 {
	font-size: 30px;
}

.numbers p {
	color: #41D5EF;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 800;
}

/* ABOUT-FOOTER */

.about {
	background-color: #313332;
	color: #fff;
}

.about .container {
	margin: 0 auto;
	padding: 15px;
	text-align: left;
}

.about p, h3 {
	display: inline;
}

.about h2 {
	position: relative;
}

.about h2:after {
	width: 100px;
	height: 3px;
	content:"";
	border-bottom: 3px solid white;
	position: absolute;
	top: 13px;
}

/*
.contact {
	margin-bottom: 10px;
	overflow: hidden;
}
*/
.about button {
	width: 30px;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	background-color: #00C7E8;
	color: #fff;
	border: 0;
	padding-left: 7.5px;
	cursor: pointer;
}

/* COPYRIGHTS-FOOTER */

footer {
	background-color: #252726;
	text-align: center;
	color: #fff;
	height: 50px;
	width: 100%;
	margin: auto;
	display: inline-block;
}

/* COLUMNS */

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 0px;
}
	
    /* For small desktop: */
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
	
.col-m-small {
	width: 20%;
	height: 15vw;
	position: relative;
	overflow: hidden;
}

.col-m-large {
	width: 40%;
	height: 15vw;
	overflow: hidden;
	position: relative;
}
	
.col-m-small img, .col-m-large img {
	height: 20vw;
	min-width: 100%;
}
	




@media(min-width: 768px) {

	/* COLUMNS OFFSET */

	.col-m-offset-1 {
		margin-left: 8.33%;
	}
	
	header > nav img {
		padding-left: 2vw;
		float: left;
	}
	
	header > nav ul {
		float: right;

	}

	header > nav ul > li {
		display: inline-block;
	}
	
	header > nav ul > li > a {
		line-height: 20px;
		padding: 0 2vw;
	}
	
	.hero {
		height: 500px;
	}
	
	.layer:hover {
		opacity: 1;
		cursor: pointer;
	}
	
	.m-space {
		padding-bottom: 15px;
		padding-left: 5px;
	}
}

@media(max-width: 767px) {

	[class*="col-"] {
	    width: 100%;
	    padding: 0; 
	    margin: 0 auto;
	}
	
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
	
	.col-s-small {
		width: 50%;
		height: 40vw;
		position: relative;
		overflow: hidden;
		float: left;
	}

	.col-s-large {
		width: 100%;
		height: 40vw;
		overflow: hidden;
		position: relative;
	}
	
	.col-s-small img {
		min-width: 30%;
		max-width: 120%;
		min-height: 100%;
		display: inline-block;
	}
	
	.col-s-large img {
		width: 100%;
		height: auto;
		display: inline-block;
	}

	/* COLUMNS OFFSET */

	.col-s-offset-1 {
		margin-left: 8.33%;
	}

	header > nav ul {
		float: none;

	}
	
	header > nav ul > li {
		display: block;
		padding: 1vw 0;
	}
	
	header > nav ul > li > a {
		line-height: auto;
		padding: auto;
	}
	
	.hero {
		height: 300px;
	}

	.features button {
		width: 130px;
		height: 115px;
		line-height: 110px;
		font-size: 90px;
	}
	.features button:active {
		background-color: #00C7E8;
	}

	.features button:active + h2 {
		color: #00C7E8;
	}
	
	.member {
		width: 40vw;
		max-width: 270px;
		height: 40vw;
		max-height: 270px;
		margin: auto;
		position: relative;
	}
	
	.s-left {
		float: left;
	}
	
	.layer {
		opacity: 1;
		background: rgba(0,0,0,0.2);
		transition: 0.1s;
	}
	
	.layer:active {
		background: rgba(0,0,0,0.5);
	}
	
	.visuals img {
		width: 50vw;
		max-width: 400px;
	}

	.about {
		height: auto;
	}
	
	.about .container {
		margin: 0;
		padding: 20px 0;
	}
	
	.about button {
		width: 60px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
		background-color: #00C7E8;
		color: #fff;
		border: 0;
		padding-left: 15px;
		margin: 15px 0;
	}
}